# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Variables de entorno locales (NUNCA commitear)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
